@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%27%29%3B');

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(100deg, #38A3A5, #22577A);
}
.search-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #22577A;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .4s;
    font-family: 'Open Sans';
}

::-webkit-input-placeholder {
    color: #22577A;
}
.search-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn {
    background: #22577A;
}